<section class="characters-section">
  <div class="row">
    @for (character of characters; track character.id) {
        <div class="col d-flex justify-content-center mb-4">
            <app-characters-display 
              [character]="character" 
              (characterClicked)="onCharacterClicked($event)">
            </app-characters-display>
        </div>
    }
  </div>

  <div class="pagination-footer">
    @if (isLoading) {
      <div class="loader-container">
        <img src="/LoadingTotoro.webp" alt="Chargement Totoro" class="totoro-loader" />
        <span><strong>Fetching Ghibli magic...</strong></span>
      </div>
    } @else if (hasMoreCharacters) {
      <button class="btn-fancy-load" (click)="onLoadMore()">
        <span class="btn-text">Discover More</span>
      </button>
    }
  </div>
</section>