<section class="characters-section">
  <div class="row">
    @for (character of characters; track character.id) {
        <div class="col d-flex justify-content-center mb-4">
            <app-characters-display 
              [character]="character" 
              (characterClicked)="onCharacterClicked($event)">
            </app-characters-display>
        </div>
    }
  </div>

  <div class="pagination-footer">
    @if (isLoading) {
      <div class="loader-container">
        
        <div class="chase-scene">
          <img src="/LoadingTotoro.webp" alt="Chargement Totoro" class="totoro-loader" />
          <img src="/LoadingCatBus.webp" alt="Chat-bus en route" class="catbus-loader" />
        </div>
        
        <span class="loading-text"><strong>Fetching Ghibli magic...</strong></span>
      </div>
      
    } @else if (hasMoreCharacters) {
      <button class="btn-fancy-load" (click)="onLoadMore()">
        <span class="btn-text">Discover More</span>
      </button>
    }
  </div>
</section>